<div class="profile-info">
  <p><span>Nombre:</span> <%= nombre %></p>
  <p><span>Correo:</span> <%= correo %></p>
  <p><span>Fecha de nacimiento:</span> <%= fechaNacimiento %></p>
  <p><span>Puntaje:</span> <%= puntaje %></p>
  <p><span>Nivel de estrés:</span> <%= resultadoQuiz %></p>
  <p><span>Consejo:</span> <%= consejo %></p>

  <% if (sintomas && sintomas.length > 0) { %>
  <div class="sintomas-box">
    <% sintomas.forEach(function(sintoma) { %>
      <div class="sintoma">
        <strong><%= sintoma.nombre %>:</strong> <%= sintoma.descripcion %>
      </div>
    <% }); %>
  </div>
<% } else { %>
  <p>No se encontraron síntomas asociados.</p>
<% } %>

  <% if (comentariosRecibidos.length > 0) { %>
    <h3>Comentarios recibidos:</h3>
    <ul>
      <% comentariosRecibidos.forEach(c => { %>
        <li><%= c %></li>
      <% }) %>
    </ul>
  <% } %>
</div>
